p {
    font-family: "raleway";
    font-size: 40px;
    font-weight: 800;
    margin: 1.66%;
    text-transform: uppercase;
    border-bottom: 3px solid lightgray;
    width: 30%;
    padding-bottom: 15px;
    
}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}